# MacOS
.DS_Store
*/.idea/*
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]

# IDE
.vscode/

# Virtual envs
venv/

# Models dir
modelserving/models/*
!modelserving/models/.gitkeep 


